<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Questions</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
		/>
		<link rel="stylesheet" href="/css/questions.css" />
	</head>
	<body>
		<div class="app">
			<div class="sidebar">
				<div class="user">
					<img src="/img/pfp.png" alt="user photo" class="user-photo" />
					<div class="user-name">
						<p><strong>User Name</strong>: <%= user.userName %></p>
					</div>
					<div class="user-mail">
						<p><strong>Email</strong>: <%= user.email %></p>
					</div>
				</div>
				<div class="sidebar-menu">
					<a href="/profile" class="sidebar-menu__link"
						>Create Your Questions</a
					>
					<a href="/dashboard/questions" class="sidebar-menu__link active"
						>Question Repository</a
					>

					<a href="/quiz/quiz" class="sidebar-menu__link">Quiz</a>
				</div>
				<label class="toggle">
					<input type="checkbox" />
					<span class="slider"></span>
				</label>
			</div>
			<div class="main">
				<div class="main-header">
					<div class="main-header__title">Dashboard</div>
					<div class="main-header__avatars"></div>
				</div>
				<div class="main-header-nav">
					<a href="/logout" class="nav-item">Logout</a>
				</div>
				<div class="main-content">
					<div class="main-content">
						<div class="content-box">
							<h2 class="content-heading">
								<h2>Questions Generated</h2>
								<p>
									This section displays all the questions generated with the
									text input above them.
								</p>
							</h2>
							<div id="questionsContainer">
								<ul class="questionsAnswers">
									<% questionAnswer.forEach(function(qa, index) { %> <%
									if(qa.questionAnswer && qa.questionAnswer.length > 0) { %>
									<li class="text-item">
										<strong>Text:</strong> <%= qa.text %>
									</li>
									<% } %> <% qa.questionAnswer.forEach(function(item) { %>
									<li class="qa-item">
										<strong class="question">Question:</strong> <%=
										item.question %> <strong class="answer">Answer:</strong> <%=
										item.answer %>
									</li>
									<% }) %> <% if(index < questionAnswer.length - 1) { %>
									<hr />
									<% } %> <% }) %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/js/profile-script.js"></script>
	</body>
</html>
