<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Quiz</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
		/>
		<link rel="stylesheet" href="/css/quiz.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="app">
			<div class="sidebar">
				<div class="user">
					<img src="/img/pfp.png" alt="user photo" class="user-photo" />
					<div class="user-name">
						<p><strong>User Name</strong>: <%= user.userName %></p>
					</div>
					<div class="user-mail">
						<p><strong>Email</strong>: <%= user.email %></p>
					</div>
				</div>
				<div class="sidebar-menu">
					<a href="/profile" class="sidebar-menu__link"
						>Create Your Questions</a
					>
					<a href="/dashboard/questions" class="sidebar-menu__link">Question Repository</a>
					<a href="/quiz/quiz" class="sidebar-menu__link active">Quiz</a>
				</div>
				<label class="toggle">
					<input type="checkbox" />
					<span class="slider"></span>
				</label>
			</div>
			<div class="main">
				<div class="main-header">
					<div class="main-header__title">Dashboard</div>
					<div class="main-header__avatars"></div>
				</div>
				<div class="main-header-nav">
					<a href="/logout" class="nav-item">Logout</a>
				</div>
				<div class="main-content">
					<div class="main-content">
						<div class="content-box">
							<h2 class="content-heading">Generated Quiz:</h2>
							<div id="quizContainer">
								<ul class="questionsAnswers">
									<div id="correctCount">
									</div>
									<% if (quiz.length > 0) { %>
										<% questionAnswer.forEach(function(qa, qaIndex) { %>
											<% qa.questionAnswer.forEach(function(quizItem, index) { %>
												<% let correspondingQuizItem = quiz.find(item => item._id.toString() === quizItem._id.toString()); %>
												<li>
													<p onclick="showAnswer(this)" 
													class="<%= quizItem.isCorrect === null ? 'unanswered' : (quizItem.isCorrect ? 'correct' : 'incorrect') %>">
													
													<strong>Question:</strong> <%= quizItem.question %>
													</p>
													<p class="answer" style="display: none;">
													   <strong>Answer:</strong> <%= quizItem.answer %>
													</p>
													<p class="instruction">Press on the Question to reveal the answer.</p>
													<p class="remaining-cooldown-time">
														Remaining cooldown time: <%= correspondingQuizItem ? correspondingQuizItem.remainingCooldown : '00:00:00' %>
													</p>
													<!-- Form for marking a question as correct -->
													<div class="button-container">
														<form method="POST" action="/quiz/markQuestionAsCorrect/<%= qa._id %>/<%= quizItem._id %>/?_method=PUT">
															<input type="hidden" name="questionId" value="<%= quizItem._id %>">
															<button class="button" type="submit" <%= Date.now() < quizItem.cooldown ? 'disabled' : '' %>>Correct</button>
														</form>
														<form method="POST" action="/quiz/markQuestionAsIncorrect/<%= qa._id %>/<%= quizItem._id %>/?_method=PUT">
															<input type="hidden" name="questionId" value="<%= quizItem._id %>">
															<button class="button" type="submit" <%= Date.now() < quizItem.cooldown ? 'disabled' : '' %>>Incorrect</button>
														</form>
														<form method="POST" action="/quiz/deleteQuestion/<%= qa._id %>/<%= quizItem._id %>/?_method=DELETE">
															<input type="hidden" name="questionId" value="<%= quizItem._id %>">
															<button class ="button" type="submit">Delete</button>
														</form>
													</div>

												</li>
											<% }); %>
										<% }); %>
									<% } else { %>
										<p>No questions available.</p>
									<% } %>
								</ul>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>

		<!-- partial -->
		<script src="/js/profile-script.js"></script>
	</body>
</html>
